@use '_Variables.module.scss' as *;
@use '_Mixins.module.scss' as *;
@use '_Gradients.module.scss' as *;

.container{
    @include gridCenter;
    @include homeGradientMixin;
    @include homeBoxShadowMixin;
    border: 1px solid $font-Clr-alt;
    width: 20rem;
    height: 30rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: $font-Clr-alt;
}