@use '_Variables.module.scss' as *;
@use '_Mixins.module.scss' as *;
@use '_Gradients.module.scss' as *;

.RootContainer{
    @include bgGradientMixin;
    .container{
        min-height: 100dvh;
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        @include mInline;
        width: clamp(25rem, 75rem, 100%);
        @include mainGradientMixin;
        header{
            @include gridCenter;
        }
        main{
            @include gridCenter;
        }
        footer{
            @include gridCenter;
        }
    }
}